.DirectoryContent-module__Box_1__fuSBO {
    /* file column width in repository view */
    width: 32%;
}

#_R_a34ql3al1d_ {
    /* remove search bar 'Add file' button */
    display: none;
}

.prc-PageLayout-PaneWrapper-pHPop.pr-2 {
    /* 'About' pane width */
    width: 25%;
}

.prc-PageLayout-Pane-AyzHK {
    /* distance between repository and 'About' panes */
    padding-left: 1rem;
}
